/******************************************************************************
 * 宽高：自适应
 *******************************************************************************/

.h-auto {
  height: auto;
}

.w-auto {
  width: auto;
}

.auto-h {
  height: auto;
}

.auto-w {
  width: auto;
}