/******************************************************************************
 * 边框颜色
 *******************************************************************************/

.bk-white {
  border: 1px solid #fff;
}

.bk-blue {
  border: 1px solid #3879D9;
}

.bk-green {
  border: 1px solid #16A05D;
}

.bk-red {
  border: 1px solid #DF4C41;
}

.bk-gray {
  border: 1px solid #e5e5e5;
}

.bk-orange {
  border: 1px solid #F39121;
}

.border-left {
  border-left: 1px solid #999;
  padding-left: 3px;
}


/******************************************************************************
 * 边框圆角
 *******************************************************************************/

.bkra {
  border-radius: 3px;
}

.bkra50 {
  border-radius: 50%;
}