/******************************************************************************
 * 字体：粗细
 *******************************************************************************/

.tiny {
  font-weight: 200;
}

.bolder {
  font-weight: 600;
}

.sm {
  font-size: 14px;
}

.big {
  font-size: 16px;
}

.bigger {
  font-size: 22px;
}


/******************************************************************************
 * 字体：对齐位置
 *******************************************************************************/

.t {
  vertical-align: top;
}

.b {
  vertical-align: bottom;
}

.m {
  vertical-align: middle;
}

.bl {
  vertical-align: baseline;
}


/*****************************************************************************
 * 字体：颜色
 ******************************************************************************/

.white {
  color: #fff;
}

.white:hover,
.white:focus {
  color: #fff;
}

.blue {
  color: #0C5FA0;
}

.blue:hover,
.blue:focus {
  color: #0C5FA0;
}

.green {
  color: #159F5C;
}

.green:hover,
.green:focus {
  color: #159F5C;
}

.red {
  color: #CE0000;
}

.red:hover,
.red:focus {
  color: #CE0000;
}

.gray {
  color: #333;
}

.gray:hover,
.gray:focus {
  color: #333;
}

.orange {
  color: #F39121;
}

.orange:hover,
.orange:focus {
  color: #F39121;
}

.bold {
  font-weight: bold;
}