/*****************************************************************************
 * 图片不变形的类 = (.img-width100) + (.img-height100)
 * .img-width100 ：  表示宽度为100%，高度则自动计算；然后图片还会【垂直】居中！
 * .img-height100 ： 表示高度为100%，宽度则自动计算；然后图片还会【水平】居中！
 ******************************************************************************/

.img-center-wrap {
  display: -webkit-flex !important;
}

.img-center {
  align-self: center;
  width: auto !important;
  height: auto !important;
  max-height: 100% !important;
  max-width: 100% !important;
  margin: 0 auto;
}


/*****************************************************************************
 * 
 ******************************************************************************/

.img-center-wrap {
  display: -webkit-flex;
}

.img-center {
  align-self: center;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}


/*****************************************************************************
 * 
 ******************************************************************************/

.img60 {
  width: 60px;
  height: 60px;
}

.img50 {
  width: 50px;
  height: 50px;
}

.img24 {
  width: 24px;
  height: 24px;
}

.img16 {
  width: 16px;
  height: 16px;
}

.imgc {
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}


/*****************************************************************************
 * 缩略图
 ******************************************************************************/

.thumbnail {
  position: relative;
  padding-bottom: 30px;
}

.thumbnail .ft-p {
  position: absolute;
  bottom: 10px;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  width: 100%;
  margin-bottom: 0;
}

.thumbnail .ft-p>.btn-link {
  padding-left: 0;
  font-size: 16px;
}

.thumbnail .ft-p>.btn-link.fr {
  margin-right: 10px !important;
}

.thumbnail .ft-p>.btn-xs {
  margin-top: 5px;
}