/* 省略号：单行 */

.o {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.omit {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.omit90 {
  display: block;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.omit150 {
  display: inline-block;
  max-width: 150px;
  line-height: 1.03;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}