/******************************************************************************
 * 1px像素边框
 *******************************************************************************/

.px1 {
  position: relative;
  margin-bottom: 6px;
  background-color: #fff;
}

.px1:after {
  content: "";
  width: 200%;
  height: 0px;
  border-bottom: 1px solid #1062a3;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  transform: scale(0.5);
  transform-origin: 0 0;
}

.px {
  position: relative;
  /* background-color: #fff; */
  padding: 6px 10px;
}

.px:after {
  content: '';
  width: 200%;
  height: 200%;
  /* border-bottom: 1px solid #1062A3; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(.5);
  transform-origin: 0 0;
  /* padding: 6px; */
}

/******************************************************************************
 * 1px像素边框：左
 *******************************************************************************/

.px-t:after {
  border-top: 1px solid #1062a3;
}

.px-b:after {
  border-bottom: 1px solid #1062a3;
}

.px-l:after {
  border-left: 1px solid #1062a3;
}

.px-r:after {
  border-right: 1px solid #1062a3;
}

.px-br:after {
  border-bottom: 1px solid #1062a3;
  border-right: 1px solid #1062a3;
}

/******************************************************************************
 * 1px像素边框
 *******************************************************************************/

.bk-btm.input-group {
  margin-bottom: 10px;
}

.bk-btm .input-group-addon {
  color: #666;
  border-color: transparent;
  background-color: transparent;
}

.clear.input-group-addon {
  color: #666;
  border-color: transparent;
  background-color: transparent;
}

.bk-btm .form-control {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}