<!DOCTYPE html>
<html>

<head>
    <title>
        {{ appname }}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- <link rel="stylesheet" href="{{baseUrl}}/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{baseUrl}}/static/css/private.css"> -->
    <style>
        body {
            height: 100%;
        }

        html {
            height: 100%;
        }

        body {
            margin: 0;
            background-color: #f1f1f1;
            padding-bottom: 60px;
        }

        /* body {
            background: url("/static/images/bg.jpg") center center no-repeat fixed;
            background-size: cover;
            background-color: #464646;
        } */
    </style>
</head>

<body>
    <div id="app"></div>
</body>
<script></script>
<script src="{{baseUrl}}/static/js/mobile/manifest.min.js"></script>
<script src="{{baseUrl}}/static/js/mobile/cssVendor.min.js"></script>
<script src="{{baseUrl}}/static/js/mobile/vendor.min.js"></script>
<script src="{{baseUrl}}/static/js/mobile/app.min.js"></script>

</html>