/******************************************************************************
 * 
 *******************************************************************************/

.layout-footer-center {
  padding: 16px 10px;
}

/******************************************************************************
 * iView的表单元素【下边距】太大了
 *******************************************************************************/

.ivu-form-item {
  margin-bottom: 10px;
}

/******************************************************************************
 * iView的数字/价格，默认80px
 *******************************************************************************/

.ivu-input-number {
  width: 100%;
}

/******************************************************************************
 * iView表单验证时的信息样式，设为100%会被吃掉一点~
 *******************************************************************************/

.ivu-form-item-error-tip {
  top: 90%;
}

/******************************************************************************
 * iView的每个表单项向下的距离：本来是10px的
 *******************************************************************************/

.ivu-form-item {
  margin-bottom: 22px;
}