/* 移动端的样式：重置一下 */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

a {
  color: #333;
}

a:focus {
  text-decoration: none;
  color: #333;
}



textarea {
  resize: none;
}


/* 消除input框的默认样式 */

input,
button,
select,
textarea {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}